*{
    margin: 0px;
    padding: 0px;
   }

header{
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);
  height: 100px;
  width: 100%;
}

.header-title{
  display: inline-block;
  line-height: 100px;
  margin-left: 8px;
}

.header-logo{  /*https://icooon-mono.com/category/other/ */
   height: 37px;
   padding-left: 30px;
   padding-top: 23px;
   float: left;
}

ul{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

.headerButton{
    display: inline-block;
    line-height: 100px;
    margin-left: 30px;
    font-weight: bold;
}

.gameLogo{
    padding-top: 200px;
    height: 500px;
    display: block;
    margin: auto;
}

.top-phrase{
    text-align: center;
    font-family: serif;
    font-size: 45px;
    padding-top: 50px;
    color: rgb(59, 55, 55);
}

.top{
    background-image: url(https://pbs.twimg.com/media/FKBG-3-aMAAXsyP?format=jpg&name=900x900); /*https://k-after.at.webry.info/201712/article_4.html*/
    background-size: cover;
    height: 950px;
    background-color:rgba(255,255,255,0.23);
    background-blend-mode:lighten;
    margin-bottom: 150px;
}

.main1{
    width: 1200px;
    margin: auto;
}

h1 {                              /*https://jajaaan.co.jp/css/css-headline/*/
    position: relative;
    display: inline-block;
    padding: 0 65px;
    text-align: center;
    color:rgb(27, 20, 95);
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  h1:before,
  h1:after {
    position: absolute;
    top: calc(50% - 8px);
    width: 60px;
    height: 6px;
    content: '';
    border-top: solid 3px #000;
    border-bottom: solid 3px #000;
  }
  
  h1:before {
    left: 0;
  }
  
  h1:after {
    right: 0;
  }

  .mainText1{
    margin-left: 65px;
    color:rgb(59, 55, 55);
    font-size: 25px;
    margin-bottom: 40px;
  }

  .main2{
    margin-top: 30px;
    height: 460px;
    background-color: rgba(195, 220, 236, 0.23);
  }
  
.cmContainer{
  display: block;
  margin: auto;
  width: 1030px;
  padding-top: 20px;
}

.cm{
  height: 420px;
  margin-left: 30px;
}

.cm3{
  margin-right: 30px;
}

.main3{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
}

.mainText2{
  margin-left: 65px;
  font-size: 25px;
}

.imgMain3{
  height: 500px;
  display: block;
  margin: auto;

}

.mainText3{
  padding-top:40px;
  font-size: 25px;
}

.main4{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;

}

.mainText4{
  padding-top:40px;
  font-size: 20px;
}

.yakuwari{
  font-size: 30px;
}

.movie{
  display: block;
  margin-left: 100px;
}

.main5{
  width: 1200px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
}

.poster{
  width: 1008px;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.imgMain4{
  height: 410px;
  display: block;
  margin: auto;
  background-color: red;

}
